<!DOCTYPE HTML>

<html>

<style type="text/css">
     body {
         font-family: sans-serif; width: 800px; margin: 0 auto; padding: 10px;
     }
     .error {
         color: red;
     }
     .label {
         display: block; font-size: 20px;
     }
     input[type=text] {
         width: 400px; font-size: 20px; padding: 2px;
     }
     textarea {
         width: 400px; height: 200px; font-size: 17px; font-family: monospace;
     }
     input[type=submit] {
         font-size: 24px;
     }
     hr {
         margin: 20px auto;
     }
</style>


<head>
    <title>Delete Book</title>
</head>

<body>
	 <h3>Delete ${title}? <a href='./confirm/${idnum}'>Yes</a> <a href='../books/${idnum}'>No</a> </h3>
    <hr><br>
        <table>
            <tr>
                <td class="label">
                    Title
                </td>
                <td>
                    ${title}
                </td>
            </tr>
            <tr>
            	<td class="label">
						Type            	
            	</td>
            	<td>	
            		${booktype}
            	</td>	
            </tr>
            <tr>
                <td class="label">
                    Rating
                </td>
                <td>
                    ${rating}
                </td>
            </tr> 
            <tr>
            	<td class="label">
            		Author
            	</td>
            	<td>
            		${author}
            	</td>
            </tr>
            <tr>
            	<td class="label">
            		Number of pages
            	</td>
            	<td>
            		${numpages}
            	</td>
            </tr>
            <tr>
            	<td class="label">
            		Year of publication
            	</td>
            	<td>
            		${yearpub}
            	</td>
            </tr>
            <tr>
            	<td class="label">
            		Year read
            	</td>
            	<td>
            		${yearread}
            	</td>
            </tr>
        </table>      
        
</body>

</html>
